@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300i|Mukta+Mahee');
#logo-bar {
	font-family: 'Mukta Mahee', sans-serif;
	font-size: 300%;
	color:white;
	}
	
#logo-head {
	font-family: 'Mukta Mahee', sans-serif;
	font-size: 700%;
	color:white;
}

	
/*ParaHead*/
	
.paral {
	min-height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	color:green;
	margin: 0px;
}

.paral p {
	font-size: 24px;
	color:#f5f5f5;
	text-align: center;
	line-height: 60px;
}
 
.paral h1 {
	color: green;
	font-size: 60px;
	text-align: center;
	padding-top: 60px;
	margin-bottom: 30px;
	line-height: 100px;
}

.paralsec {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
	  rgba(0, 0, 0, 0.75)
    ), url("img/content1.jpg");
}
 
.paralsec1 {
	background-color: green;
	color: white;
	}
 
.paralsec2 {
	background-image: linear-gradient(
      rgba(255, 215, 0, 0.4),
	  rgba(255, 215, 0, 0.4)
    ),url("img/usf.jpg");
}

.btn-primary, .btn, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: gold !important;
	color: green !important;
	padding-left: 30px;
	padding-right: 30px;
}

}

a:link {
	color: green;
}
/*End ParaHead*/


/*navbar*/
.affix {
      top: 0;
      width: 100%;
      /*z-index: 9999 !important;*/
  }

.affix + .container-fluid {
      padding-top: 20px;
  }
  
.navbar-dark {
	background-color: green !important;
	color: white;
	border-color: green;
	border-radius: 0;
	border-color: green;
	border-radius: 0;
	margin: 0;
	padding:0;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}

ul.nav li.active a {
    color: white !important;
}

body {
  background-color: #fff;
  color: #000;
  padding-top: 2em;
}

.sps {
  padding: 1em .5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  background-color: transparent;
  color: #000;
}

.sps--blw {
  background-color: #333;
  color: #fff;
}

/*Login Field*/

#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: green;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*Inputs/Buttons*/
.form-control {
    color: #212121;
}
.btn-custom {
  color: #fff;
	background-color: green;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*Footer*/
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

h2 {
  font-size: 200%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h3 {
	font-size: 200%;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
	}
	

