@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300i|Mukta+Mahee');
#logo-bar {
	font-family: 'Mukta Mahee', sans-serif;
	font-size: 300%;
	color:white;
	}

#logo-head {
	font-family: 'Mukta Mahee', sans-serif;
	font-size: 700%;
	color:white;
}

img {
    max-width: 40%;
    height: auto;
   	padding:5px;
	margin: 5px;
}

.bg{
   background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
	  	rgba(0, 0, 0, 0.75)
    ), url("img/content1.jpg");
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
    border-collapse: separate;
    margin-bottom: 0px;
}

/*For Scrolling*/

.paral {
	min-height: 700px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 100% 100%;
	color:white;
	margin: 0px;
	border-radius: 0 !important;
}

.paral p {
	font-size: 24px;
	color:#f5f5f5;
	text-align: center;
	line-height: 60px;
}

.paral h1 {
	color: green;
	font-size: 60px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 35px;
	line-height: 100px;
}

.paralsec {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
	  rgba(0, 0, 0, 0.75)
    ), url("img/content1.jpg");
}

.paralsec1 {
	background-color: green;
	color: white;
	}

.paralsec2 {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
	  rgba(0, 0, 0, 0.75)
    ), url("img/feat.jpeg");
}

.paralsec3 {
	background-image: linear-gradient(
    rgba(255, 215, 0, 0.4),
	rgba(255, 215, 0, 0.4)
    ), url("img/USF.jpg");
}

.paralsec4 {

	background-size: 100% 100%;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
	  rgba(0, 0, 0, 0.75)
    ), url("img/content1.jpg");
}

.paralsec5 {
	min-height: 250px;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
	  rgba(0, 0, 0, 0.75)
    ), url("img/feat.jpeg");
}

.ni {
    font-style: normal;
}


.btn-primary, .btn, .btn-large, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: gold !important;
	color: green !important;
	padding-left: 30px;
	padding-right: 30px;
}

}

a:link {
	color: green;
}
/*End ParaHead*/


/*navbar*/
.row {
	 backgroung-color: rgba(0, 0, 0, 0.75);
}


.navbar-dark {
	background-color: green !important;
	color: white;
	border-color: green;
	border-radius: 0 !important;
	border-color: green;
	border-radius: 0;
	margin: 0;
	padding:0;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}

ul.nav li.active a {
    color: white !important;
}

body {
  background-color: #fff;
  color: #000;

  margin:0px;
}


/*Inputs/Buttons*/
.form-control {
    color: #212121;
}
.btn-custom {
  color: #fff;
  background-color: gold;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}



h2 {
  font-size: 200%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}


h4 {
	text-align: center;
}
